@page "/setup/v1/FilterWheel/{InstanceID:int}/setup"
@using ASCOM.Common
@using ASCOM.Common.DeviceInterfaces
@implements IDisposable

<h3>Filter Wheel Configuration</h3>

@if (ASCOM.Alpaca.DeviceManager.FilterWheels.ContainsKey(InstanceID))
{
    <fieldset>
        <legend>Settings</legend>
        <br />

        @* <label style="margin-top:12px">Enable hardware patch:</label>
        <input type="checkbox" @bind="Patch">
        <br /> *@

        <label style="margin-top:12px">Allow bidirectional movement:</label>
        <input type="checkbox" @bind="Bidirectional">
        <br />

        <label style="margin-top:12px;">Move timeout (seconds):</label>
        <input type="number" @bind="Timeout" min="1" max="65535" style="width:20ch;">
        <br />

        <label style="margin-top:12px">Throw error if timed out:</label>
        <input type="checkbox" @bind="ThrowIfFail">
        <br />

        <label style="margin-top:12px">(Debug) Test crash on move:</label>
        <input type="checkbox" @bind="DebugCrash">
        <br />

        <button @onclick="SaveDriverSettings" style="min-width:12ch;">Save</button>
        <label style="color:@StatusColor;"><b>@Status</b></label>
    </fieldset>

    <fieldset>
        <legend>Control Panel</legend>
        <br />

        <label style="margin-top:12px;">Connected: @FilterWheel.Connected</label>
        <label style="color:@ControlPanelStatusColor;margin-left:12px;"><b>@ControlPanelStatus</b></label>
        <br />

        @if (FilterWheel.Connected)
        {
            <label>Filter status: @FilterStatus</label>
            <br />

            <button @onclick='WrapFunc(FilterWheel.Query, "", "Error querying filter wheel")' style="min-width:12ch;">Query</button>
            <br />

            <div style="margin-top:12px;display:grid;grid-template-columns:1fr 1fr 1fr;">
                @for (short i = 0; i < FilterWheel.FilterCount; i++)
                {
                    short index = i;
                    <button @onclick='WrapFunc(() => FilterWheel.Position = index, "", "Error moving filter wheel")' style="min-width:12ch;">@FilterWheel.Names[index]</button>
                }
            </div>
            <br />

            <button @onclick='WrapFunc(FilterWheel.Disconnect, "Disconnected", "Error disconnecting from filter wheel")' style="min-width:12ch;">Disconnect</button>
        }
        else
        {
            <button @onclick='WrapFunc(FilterWheel.Connect, "", "Error connecting to filter wheel")' style="min-width:12ch;">Connect</button>
        }
    </fieldset>
}
else
{
    <h3>This device does not exist and cannot be configured</h3>
}


@code {
    [Parameter]
    public int InstanceID { get; set; }

    public DeviceAccess.FilterWheel.Driver FilterWheel => (DeviceAccess.FilterWheel.Driver) ASCOM.Alpaca.DeviceManager.FilterWheels[InstanceID];

    private string FilterStatus => FilterWheel.Position == -1 ? "Moving" : FilterWheel.Names[FilterWheel.Position];

    private bool Patch { get; set; } = ServerSettings.FilterWheel.Patch;
    private bool Bidirectional { get; set; } = ServerSettings.FilterWheel.Bidirectional;
    private bool ThrowIfFail { get; set; } = ServerSettings.FilterWheel.ThrowIfFail;
    private ushort Timeout { get; set; } = ServerSettings.FilterWheel.Timeout;

    private bool DebugCrash { get; set; } = ServerSettings.FilterWheel.DebugCrash;

    private string Status { get; set; } = "";
    private string StatusColor { get; set; } = "green";

    private string ControlPanelStatus { get; set; } = "";
    private string ControlPanelStatusColor { get; set; } = "red";

    private Action WrapFunc(Action func, string successMsg, string errorMsg)
    {
        return async () =>
        {
            try
            {
                func();

                ControlPanelStatusColor = "green";
                ControlPanelStatus = successMsg;
                StateHasChanged();

                await Task.Delay(2000);
                ControlPanelStatus = "";
                StateHasChanged();
            }
            catch (Exception e)
            {
                ControlPanelStatusColor = "red";
                ControlPanelStatus = errorMsg;
                StateHasChanged();

                Program.Logger.LogError($"{errorMsg}: {e.Message}");
            }
        };
    }

    private async void SaveDriverSettings()
    {
        try
        {
            // Save the settings to the ServerSettings class
            ServerSettings.FilterWheel.Patch = Patch;
            ServerSettings.FilterWheel.Bidirectional = Bidirectional;
            ServerSettings.FilterWheel.ThrowIfFail = ThrowIfFail;
            ServerSettings.FilterWheel.DebugCrash = DebugCrash;
            ServerSettings.FilterWheel.Timeout = Timeout;
            // Display a success message
            Status = "Driver Settings Saved OK";
            StatusColor = "green";
            // Notify the application that the UI's Status field has changed so the UI will be updated
            StateHasChanged();
            // Wait for 2 seconds and then clear the status message.
            // Note that this is done asynchronously to ensure the UI remains responsive
            await Task.Run(async () =>
            {
                await Task.Delay(2000);
                Status = "";
            });
        }
        catch (Exception ex)
        {
            Status = $"Settings not saved: {ex.Message}";
            StatusColor = "red";
        }
        // Notify the application that the UI's Status field has changed so the UI will be updated
        StateHasChanged();
    }

    private void OnFilterWheelChange(DeviceAccess.FilterWheel.Driver driver)
    {
        InvokeAsync(StateHasChanged);
    }

    protected override void OnInitialized()
    {
        FilterWheel.OnChange += OnFilterWheelChange;
    }

    public void Dispose()
    {
        FilterWheel.OnChange -= OnFilterWheelChange;
    }
}
